##
# Ansible provided setup.
##
<VirtualHost *:80>
	ServerName {{ ansible_fqdn }}
	ServerAdmin {{ apache_server_admin }}
	ServerAlias {{ apache_server_alias }}
	
	DocumentRoot {{ apache_root}}/default
	<Directory {{ apache_root }}/default>
		Options Indexes FollowSymLinks MultiViews
		AllowOverride All
		Require all granted
	</Directory>

	CustomLog ${APACHE_LOG_DIR}/access.log combined
  ErrorLog ${APACHE_LOG_DIR}/error.log
</VirtualHost>
