##
# Ansible provided setup.
##
<VirtualHost *:80>
  ServerName www.{{ item.vhost }}
  ServerAdmin webmaster@{{ item.vhost }}
  ServerAlias {{ item.vhost }}

  DocumentRoot {{ apache_root}}/{{ item.docroot }}
  <Directory {{ apache_root}}/{{ item.docroot }}>
    Options Indexes FollowSymLinks MultiViews
    AllowOverride All
    Require all granted
  </Directory>

  CustomLog ${APACHE_LOG_DIR}/access_{{ item.vhost }}.log combined
  ErrorLog ${APACHE_LOG_DIR}/error_{{ item.vhost }}.log
  LogLevel warn
  ServerSignature Off
</VirtualHost>
